* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F8F8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #9E9E9E;
}

body > div {
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    margin-top: 30px;
}

header {
    display: inline-block;
    width: 100%;

}

header > img {
    display: inline-block;
    float: left;
    height: 50px;
}

header > nav {
    display: inline-block;
    float: right;
    margin-top: 10px;
}

nav > a {
    display: inline-block;
    float: left;
    text-decoration: none;
    font-size: 15px;
    color: #9E9E9E;
    padding: 5px 25px;
    line-height: 20px;

}

nav > a:last-of-type {
    font-size: 12px;
    text-transform: uppercase;
    border: 2px solid #9E9E9E;
    border-radius: 18px;
    margin-left: 30px;
    margin-top: -2px;
}

main {
    display: inline-block;
    width: 100%;
    margin-top: 60px;
}

main > div {
    display: inline-block;
    width: 35%;
    float: left;
    margin-top: 40px;
}

main > div > h1 {
    display: inline-block;
    width: 100%;
    font-size: 70px;
}

main > div > p {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
}

main > img {
    display: inline-block;
    width: 55%;
    float: left;
    margin-left: 10%;
}